.container
  .row.inbox
    .col-md-3
      = render 'messages/left_pannel'
    .col-md-9
      .card
        .card-block.message
          %h4.mail-title= @message.subject

          .h6 From: #{@message.sender.name}
          .h6 To: #{@message.recipient.name}

          %p.card-text
            %small.text-muted= time_ago_in_words(@message.created_at)

          %hr

        .card-block
          .mail-text= @message.body
